* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #ff9800, #ff5722);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
}

.register-box {
    background: white;
    padding: 35px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.register-box h2 {
    margin-bottom: 10px;
}

.register-box p {
    color: gray;
    margin-bottom: 25px;
}

.register-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.register-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #ff9800;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.register-box button:hover {
    background: #ff5722;
}

.login-text {
    display: block;
    margin-top: 15px;
    font-size: 14px;
}

.login-text a {
    color: #ff5722;
    text-decoration: none;
}
.role-selector {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 25px;
}

.role-btn {
    padding: 10px 18px;
    border-radius: 25px;
    border: 1px solid #ff9800;
    background: transparent;
    color: #ff9800;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.role-btn:hover {
    background: #ff9800;
    color: white;
}

.role-btn.active {
    background: #ff9800;
    color: white;
}
